<section>
    <h1>{{ field.label }}</h1>
    <dl>
        <dt>{% trans %}Machine name{% endtrans %}</dt>
        <dd><code>{{ field.name }}</code></dd>
        <dt>{% trans %}Type{% endtrans %}</dt>
        <dd><code>{{ field.type }}</code></dd>
        <dt>{% trans %}Description{% endtrans %}</dt>
        <dd>{{ field.description }}</dd>
    </dl>
</section>